## **Basic Level :**

---

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
list1 = []
for i in range (1, 11) :
  list1.append(i)
print ("List of number from 1 to 10 :", list1)

List of number from 1 to 10 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
def calculator(list2) :

  sum_of_numbers_in_list = 0

  for value in list2 :
    sum_of_numbers_in_list = value + sum_of_numbers_in_list
  return sum_of_numbers_in_list

list2 = [1,2,3,4,5,6,7,8,9]
result = calculator(list2)
print ("Sum of numbers in list :", result)

Sum of numbers in list : 45

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
input_string = "qwerty"

reverse_string = ""

for char in input_string :
  reverse_string = char + reverse_string
print ("Reverse of the input string is :", reverse_string)

Reverse of the input string is : ytrewq

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
def factorial(n) :
  if n <= 1 :
    return 1
  result = 1
  for i in range(2, n+1) :
    result *= i
  return result

n = 5
calculation = factorial(n)
print ("Factorial of", n, ":", calculation)

Factorial of 5 : 120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
def multiplication_table (n) :

  result = n
  print ("Multiplication table of :", n)

  for i in range (1, 11) :
    print (result*i)

n = 19
multiplication_table (n)

Multiplication table of : 19
19
38
57
76
95
114
133
152
171
190

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
def count_func (list6) :
  count_odd = 0
  count_even = 0
  for value in list6 :
    if value % 2 == 0 :
      count_even += 1
    else :
      count_odd += 1
  print ("Count of even number in the list is :", count_even)
  print ("Count of odd number in the lits is :", count_odd)

list6 = [1,2,3,4,5,6,7,8,9]
count_func (list6)

Count of even number in the list is : 4
Count of odd number in the lits is : 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
square_list = []

for i in range (1,6) :
  square_list.append(i*i)
print ("List of squares of numbers from 1 to 5 :", square_list)

List of squares of numbers from 1 to 5 : [1, 4, 9, 16, 25]

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
def length (input_string) :

  length_of_string = 0

  for char in input_string :
    if char :
      length_of_string += 1
  return length_of_string

input_string = "qwerty"
result = length (input_string)
print ("Length of the string is :", result)

Length of the string is : 6

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
def average (input_list) :

  sum = 0

  for value in input_list :
    sum = value + sum
  return sum / len(input_list)

input_list = [1,2,3,4,5,6,7,8,9]
result = average (input_list)
print ("Average of the list is :", result)

Average of the list is : 5.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
def fibonacci(n) :

  fibonacci_series = []

  if n < 0 :
    return "Kindly provide a positive number"
  elif n == 1 :
    return [0]
  elif n == 2 :
    return [0,1]
  else :
    fibonacci_series = [0,1]
    for i in range (2, n) :
      next_num = fibonacci_series[-1] + fibonacci_series[-2]
      fibonacci_series.append(next_num)
    return fibonacci_series

n = 10
result = fibonacci(n)
print (result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## **Intermediate Level :**

---

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
def check_duplicates(list_11) :

  set_11 = set()

  for value in list_11 :
    if value in set_11 :
      return True
    set_11.add(value)
  return False

list_11 = [1,2,3,4,5,6,7,8,9,1]
print("Is duplicate present in the list :", check_duplicates(list_11))

Is duplicate present in the list : True

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
def is_prime (num) :
  if num < 2 :
    return False
  for i in range (2, int(num**0.5) + 1) :
    if num % i == 0 :
      return False
  return True

def print_primes_in_range (start, end) :
  print(f"Prime numbers between {start} and {end}:")
  for num in range (start, end + 1):
    if is_prime (num):
      print (num, end=" ")

#Example usage
start_range = 10
end_range = 50
print_primes_in_range(start_range, end_range)

Prime numbers between 10 and 50:
11 13 17 19 23 29 31 37 41 43 47

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
def count_vowels (input_string) :

  vowels = ['a','e','i','o','u']
  count = 0

  for char in input_string :
    if char in vowels :
      count += 1
  return count


input_string = "Hello world!"
result = count_vowels (input_string)
print ("The number of vowels in the string are :", result)

The number of vowels in the string are : 3

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [21]:
def maximum_element (matrix) :

  max_element = float('-inf')

  for row in matrix :
    for element in row :
      if element > max_element :
        max_element = element
  return max_element

matrix : [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


print("Maximun element in the matrix :", maximum_element(matrix))

Maximun element in the matrix : 9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [34]:
def remove_element(list15, target_element) :

  list_updated = []

  for element in list15 :
    if element != target_element :
      list_updated.append(element)
  return list_updated

list15 = [1,2,3,4,5,6,2,2,2,2,7,8,9,1,1,2,3,2]
target_element = 2
result = remove_element(list15, target_element)
print (result)

[1, 3, 4, 5, 6, 7, 8, 9, 1, 1, 3]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [38]:
def multiplication_table (x,y) :

  for i in range (1,6) :
    print ("Multiplication table for :", i)
    for j in range (1,11) :
      print (i, "*", j, "=", i*j)

multiplication_table (1,5)

Multiplication table for : 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Multiplication table for : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Multiplication table for : 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Multiplication table for : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Multiplication table for : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [45]:
def fahrenheit_to_celsius (fahrenheit_temperatures) :

  celsius_temperatures = []

  for fahrenheit in fahrenheit_temperatures :
    celsius = (fahrenheit - 32) * 5 / 9
    celsius_temperatures.append(celsius)
  return celsius_temperatures

#Example usage
fahrenheit_list = [32, 44, -40, 104, 212]
celsius_list = fahrenheit_to_celsius(fahrenheit_list)
print("Fahrenheit Temperatures:", fahrenheit_list)
print("Celsius Temperatures:", celsius_list)

Fahrenheit Temperatures: [32, 44, -40, 104, 212]
Celsius Temperatures: [0.0, 6.666666666666667, -40.0, 40.0, 100.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [46]:
def common_element (list1, list2) :

  common_element = []

  for value in list1 :
    if value in list2 :
      common_element.append(value)
  return common_element

list1 = [1,2,3,4,5,6,7,8,9]
list2 = [9,8,7,6,5,11,12,13,14,15]
result = common_element (list1, list2)
print ("Common element between the list are :", result)

Common element between the list are : [5, 6, 7, 8, 9]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [49]:
def right_angled_triangle (rows) :

  for i in range (1, rows+1) :
    print ("*" * i)

rows = 5
right_angled_triangle (rows)

*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [50]:
def gcd (num1, num2) :

  gcd = 1

  smaller_num = min(num1, num2)

  for i in range (2, smaller_num+1) :
    if num1 % i == 0 and num2 % i == 0 :
      gcd = i
  return gcd

num1 = 48
num2 = 72
result = gcd (num1, num2)
print (result)

24

## **Advanced Level :**

---

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [7]:
#fuction to sum digits of a single number in a list
def sum_of_digits(num) :

  return sum(int(digit) for digit in str(num))

#function to iterate through the list
def sum_of_digits_list (list21) :

  total_sum_all_num_combined = sum(sum_of_digits(num) for num in list21)
  print ("Sum of digits of all the numbers combined : ")
  print (total_sum_all_num_combined)
  sum_each_num = [sum_of_digits(num) for num in list21]
  print ("Sum of digits of each individual numbers : ")
  print (sum_each_num)

list21 = [1234, 876, 90]
sum_of_digits_list (list21)
print ("Original list :", list21)

Sum of digits of all the numbers combined :
40
Sum of digits of each individual numbers :
[10, 21, 9]
Original list : [1234, 876, 90]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [8]:
def prime_factors (n) :

  factors = []

  while n % 2 == 0 :
    factors.append(2)
    n //= 2

  for i in range(3, int(n**0.5) + 1, 2):
    while n % i == 0:
      factors.append(i)
      n //= i

  if n > 2:
    factors.append(n)

  return factors

n = 84
print("Prime factors of", n, "are:", prime_factors(n))

Prime factors of 84 are: [2, 2, 3, 7]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [6]:
def extract_unique (list23) :

  list_unique = []
  number = [list_unique.append(x) for x in list23 if x not in list_unique]
  return list_unique

list23 = [1,2,3,4,5,6,7,8,9,1,2,3,4,6,9]
result = extract_unique (list23)
print (result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [11]:
def palindrome (x,y) :

  palindrome_list = [num for num in range(x,y) if str(num) == str(num)[::-1]]

  print (palindrome_list)

x = 1
y = 100
palindrome (x,y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [12]:
def flatten_list (nested_list) :

  return [item for sublist in nested_list for item in sublist]

#Example usage
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = flatten_list(nested_list)
print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [1]:
def sum_even_odd (list26) :

  sum_even = sum(x for x in list26 if x % 2 == 0)
  sum_odd = sum(x for x in list26 if x % 2 != 0)

  print ("Sum of even numbers in the list :", sum_even)
  print ("Sum of odd numbers in the list :", sum_odd)

list26 = [1,2,3,4,5,6,7,8,9]
sum_even_odd (list26)

Sum of even numbers in the list : 20
Sum of odd numbers in the list : 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [4]:
square_odd = [x**2 for x in range(1,11) if x % 2 != 0]

print ("A list of squares of odd numbers between 1 and 10 :", square_odd)

A list of squares of odd numbers between 1 and 10 : [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [2]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

combined_dict = {list1[i]: list2[i] for i in range(min(len(list1), len(list2)))}

print (combined_dict)

{'a': 1, 'b': 2, 'c': 3}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [4]:
def extract_vowels (input_string) :

  vowels = ['a','e','i','o','u']

  vowel_list = [char for char in input_string if char in vowels]

  print (vowel_list)

input_string  = "Hello world!"
extract_vowels (input_string)

['e', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [10]:
def remove_nonnumeric (list_of_strings) :

  new_list = [''.join(x for x in value if x.isdigit()) for value in list_of_strings]

  print (new_list)

list_of_strings = ["Hello123,", "world456!", "hello789,", "universe012345!!!"]
remove_nonnumeric (list_of_strings)

['123', '456', '789', '012345']

## **Challenge Level :**

---

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [12]:
def sieve_of_eratosthenes (n) :

  primes = [True] * (n+1)
  primes[0] = primes[1] = False

  for i in range(2, int(n**0.5) + 1) :
    if primes[i]:
      for j in range(i*i, n+1, i) :
        primes[j] = False

  prime_numbers = [i for i in range(2, n+1) if primes[i]]

  return prime_numbers

prime_numbers_up_to_50 = sieve_of_eratosthenes(50)
print ("Prime numbers up to 50:", prime_numbers_up_to_50)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [15]:
def pythagorean_triplets(limit):

  triplets = [(a, b, c) for a in range(1, limit+1)
                        for b in range(a, limit+1)
                        for c in range(b, limit+1)
                        if a**2 + b**2 == c**2]
  return triplets

limit = 20
pythagorean_triplets_up_to_limit = pythagorean_triplets(limit)
print("Pythagorean triplets up to limit", limit, ":", pythagorean_triplets_up_to_limit)

Pythagorean triplets up to limit 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [3]:
def generate_combinations (list1, list2) :

  combinations = [(x, y) for x in list1 for y in list2]
  return combinations


list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
all_combinations = generate_combinations(list1, list2)
print("All possible combinations:", all_combinations)

All possible combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [4]:
from collections import Counter

def calculate_mean (numbers) :

  mean = sum(numbers) / len(numbers)
  return mean

def calculate_median (numbers) :

  sorted_numbers = sorted(numbers)
  n = len(sorted_numbers)
  median = (sorted_numbers[n//2] + sorted_numbers[(n-1)//2]) / 2 if n % 2 == 0 else sorted_numbers[n//2]
  return median

def calculate_mode (numbers) :

  frequency = Counter(numbers)
  max_frequency = max(frequency.values())
  mode = [num for num, freq in frequency.items() if freq == max_frequency]
  return mode


numbers = [1, 2, 3, 4, 5, 5, 6, 6, 7, 8, 9]
mean = calculate_mean(numbers)
median = calculate_median(numbers)
mode = calculate_mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 5.090909090909091
Median: 5
Mode: [5, 6]

35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [5]:
def generate_pascals_triangle (num_rows) :
  if num_rows <= 0:
    return []

  triangle = [[1]]

  for _ in range (1, num_rows) :
    row = [1] + [triangle[-1][i] + triangle[-1][i+1] for i in range(len(triangle[-1])-1)] + [1]
    triangle.append(row)

  return triangle

def display_triangle (triangle) :
    for row in triangle:
        print(" ".join(map(str, row)).center(len(triangle[-1])*2))


num_rows = 6
pascals_triangle = generate_pascals_triangle(num_rows)
display_triangle(pascals_triangle)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [18]:
def factorial (n) :

  if n <= 1 :
    return 1
  else :
    return n * factorial (n-1)

def sum_digits (n) :

  return sum(int(digit) for digit in str(n))

def sum_digits_factorial (n) :

  sum_digit = [sum_digits(factorial(i)) for i in range(1,n+1)]
  print (sum_digit)

n = 5
sum_digits_factorial (n)

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [23]:
def longest_word (input_statement) :

  words = input_statement.split()

  longest_word = max((word for word in words), key=len)
  print (longest_word)

input_statement = "Hello world, this is an example statement."
longest_word (input_statement)

statement.

38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [30]:
def sum_count_vowels (word) :

  vowels = ['a','e','i','o','u','A','E','I','O','U']
  count_vowels = sum(1 for char in word if char in vowels)
  return count_vowels

def filter_vowels (input_statement) :

  words = input_statement.split()
  vowel_list = [word for word in words if sum_count_vowels (word) >= 3]
  print (vowel_list)


input_statement = "Hello world, this is an example statement to create a program that filters a list of strings to include only those with more than three vowels using list comprehension."
print("List of strings including three or more vowels :")
filter_vowels (input_statement)

List of strings including three or more vowels :
['example', 'statement', 'create', 'include', 'comprehension.']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [27]:
def sum_of_digits (n) :

  return sum(int(digit) for digit in str(n))

sum_of_digits_list = [sum_of_digits(i) for i in range(1, 1001)]
total_sum = sum(sum_of_digits_list)

print("Total sum of digits from numbers 1 to 1000:", total_sum)

Total sum of digits from numbers 1 to 1000: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [3]:
def is_prime (n) :

  if n <= 1:
    return False

  elif n <= 3:
    return True

  elif n % 2 == 0 or n % 3 == 0:
    return False

  i = 5

  while i * i <= n:
    if n % i == 0 or n % (i + 2) == 0:
        return False
    i += 6
  return True

def generate_palindromic_numbers () :

    palindromic_numbers = [num for num in range(1, 1001) if str(num) == str(num)[::-1]]
    return palindromic_numbers

prime_palindromic_numbers = [num for num in generate_palindromic_numbers() if is_prime(num)]
print("Prime palindromic numbers:", prime_palindromic_numbers)

Prime palindromic numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]