1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [6]:
def T(n) :
  if n == 0 :
   return 5
  else:
    return 3 * T(n - 1) + 12 * n

result = T(2)
result

105

2. Given a recurrence relation, solve it using the substitution method :

a. T(n) = T(n-1) + c

b. T(n) = 2T(n/2) + n

c. T(n) = 2T(n/2) + c

d. T(n) = T(n/2) + c

In [17]:
def T(n) :

  if n == 0 :
    return 5
  else :
    return T(n-1) + c

n = 2
c = 10
T(n)

25

In [14]:
def T(n) :

  if n == 0 :
    return 5
  else :
    return 2*T(n//2) + n

n = 2
T(n)

24

In [18]:
def T(n) :

  if n == 0 :
    return 5
  else :
    return 2*T(n//2) + c

n = 2
c = 10
T(n)

50

In [19]:
def T(n) :

  if n == 0 :
    return 5
  else :
    return T(n//2) + c

n = 2
c = 10
T(n)

25

3. Given a recurrence relation, solve it using the recursive tree approach :

a. T(n) = 2T(n-1) +1

b. T(n) = 2T(n/2) + n

In [20]:
def T(n):
  return 2**n - 1

#Computing T(5) as an example
n = 5
result = T(n)
result

31

In [22]:
import math

def T(n):
  if n == 1:
    return 1
  return 2 * T(n // 2) + n

#Computing T(8) as an example
n = 8
result = T(n)
result

32