Q1. Can you explain the logic and working of the Tower of Hanoi algorithm by writing a Python program?

How does the recursion work, and how are the movements of disks between rods accomplished?

In [1]:
def tower_of_hanoi(n, source, destination, auxiliary) :
  if n == 1 :
    #Base case : Only one disk to move directly from source to destination
    print(f"Move disk 1 from {source} to {destination}")
    return

  #Moving n-1 disks from source to auxiliary, using destination as auxiliary
  tower_of_hanoi(n - 1, source, auxiliary, destination)

  #Moving the nth disk from source to destination
  print(f"Move disk {n} from {source} to {destination}")

  #Moving the n-1 disks from auxiliary to destination, using source as auxiliary
  tower_of_hanoi(n - 1, auxiliary, destination, source)

n = 3
tower_of_hanoi(n, 'A', 'C', 'B')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

Q2. Given two strings word1 and word2, return the minimum number of operations required to convert word1 to word2.

Example 1:

 Input: word1 = "horse", word2 = "ros"

 Output: 3

 Explanation:

 horse -> rorse (replace 'h' with 'r')

 rorse -> rose (remove 'r')

 rose -> ros (remove 'e')

Example 2:

 Input: word1 = "intention", word2 = "execution"

 Output: 5

 Explanation:

 intention -> inention (remove 't')

 inention -> enention (replace 'i' with 'e')

 enention -> exention (replace 'n' with 'x')

 exention -> exection (replace 'n' with 'c')

 exection -> execution (insert 'u')

In [3]:
def minDistance(word1, word2) :

  m, n = len(word1), len(word2)
  dp = [[0] * (n + 1) for _ in range(m + 1)]

  for i in range(m + 1) :
    dp[i][0] = i
  for j in range(n + 1) :
    dp[0][j] = j

  for i in range(1, m + 1):
    for j in range(1, n + 1):
      if word1[i - 1] == word2[j - 1]:
        dp[i][j] = dp[i - 1][j - 1]
      else:
        dp[i][j] = 1 + min(dp[i - 1][j],
                           dp[i][j - 1],
                           dp[i - 1][j - 1]
                           )
  return dp[m][n]

word1 = "horse"
word2 = "ros"
print(minDistance(word1, word2))

word1 = "intention"
word2 = "execution"
print(minDistance(word1, word2))

3
5

Q3. Print the max value of the array [13, 1, -3, 22, 5]

In [5]:
def find_max_rec(arr, n) :

  if n==1 :
    return arr[0]
  return max(arr[n-1], find_max_rec(arr, n-1))

arr = [13, 1, -3, 22, 5]
n = len(arr)
max_value = find_max_rec(arr, n)
print(max_value)

22

Q4. Find the sum of the values of the array [92, 23, 15, -20, 10].

In [6]:
def sum_arr_rec(arr, n) :

  if n == 0 :
    return 0

  return arr[n-1] + sum_arr_rec(arr, n-1)

arr = [92, 23, 15, -20, 10]
sum_arr_rec(arr, n)

120

Q.5 Given a number n. Print if it is an armstrong number or not.An armstrong number is a number if the sum
of every digit in that number raised to the power of total digits in that number is equal to the number.

Example : 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153 hence 153 is an armstrong number. (Easy)


Input1 : 153


Output1 : Yes



Input 2 : 134

Output2 : No

In [13]:
def is_armstrong(n) :

  digits = str(n)
  num_digits = len(digits)

  sum_all_digits = sum(int(digit) ** num_digits for digit in digits)

  if sum_all_digits == n :
    print(f"Yes, number {n} is armstrong")
  else :
    print(f"No, number {n} is not armstrong")

n1 = 153
n2 = 134

is_armstrong(n1)
is_armstrong(n2)

Yes, number 153 is armstrong
No, number 134 is not armstrong