## **String Based Assignment Problem**

1. Write a program to reverse a string.

In [ ]:
#Defining a function called reverse_str that takes 'i_str' as its parameter.
def reverse_str(i_str) :

  #Initializing an empty string called r_str for storing reversed characters.
  r_str = ""

  #Starting a loop that iterates through each character in the 'i_str'.
  for char in i_str :

    #Concatenating the current character with the existing r_str & effectively adding the current character to the beginning of the reversed string.
    r_str = char + r_str

  #After the loop is done, return the reversed_string as the output of the function.
  return r_str

#Storing a string to i_str which we need to reverse
i_str = "hello world"

#Calling the def fun 'reverse_str' and storing it in a variable r_str and printing the output with the help of 'r_str'
r_str = reverse_str(i_str)
print (r_str)

dlrow olleh

2. Check if a string is a palindrome.

In [ ]:
#Defining a function to check if a input string is a palindrome or not.
def is_palindrome(input_string) :

  #Converting the string into lower case
  lower_input_string = input_string.lower()

  #Checking if the input string is same as if it read backwards and printing output in boolean form
  if lower_input_string == lower_input_string[::-1] :
    print (True)
  else :
    print (False)

#Providing a string to the 'input_string' variable and calling the def fun 'is_palindrome' to check if it is palindrome or not.
input_string = "dodod"
is_palindrome(input_string)

True

3. Convert a string to uppercase.

In [ ]:
#Taking input from the user
input_string = input("Enter a string : ")

#Converting the input to upper case and storing it in a different variable
upper_input_string = input_string.upper()

#Printing the output in uppercase
print ("Uppercase :",upper_input_string)

Enter a string : qwerty
Uppercase : QWERTY

4. Convert a string to lowercase.

In [ ]:
#Taking input from the user
input_string = input("Enter a string : ")

#Converting the input to upper case and storing it in a different variable
lower_input_string = input_string.lower()

#Printing the output in uppercase
print ("Lowercase :",lower_input_string)

Enter a string : QWERTY
Lowercase : qwerty

5. Count the number of vowels in a string.

In [ ]:
#Taking input statement from the user
input_statement = input("Enter a statement to check no of vowels : ")

#Converting all the characters in the statement in lower case
input_statement = input_statement.lower()

#Creating a list consisting all the 5 vowels
vowel = ['a','e','i','o','u']

#Creating a variable to count no of variable in the statement having iniatial value as 0
no_of_vowel = 0

#Iterating through the characters of the input_statement
for char in input_statement :

  #Checking if iterated character is same as the 5 vowels in the list 'vowel' and if so adding +1 to the variable 'no_of_vowel' one by one
  if char in vowel :
    no_of_vowel += 1

print("No of vowels in the statement :",no_of_vowel)

Enter a statement to check no of vowels : qwerty
No of vowels in the statement : 1

6. Count the number of consonants in a string.

In [ ]:
#Take input statement from the user
input_statement = input("Enter a statement to check no of consonant : ")

#Converting all the characters in the statement in lower case
input_statement = input_statement.lower()

#Creating a list consisting all the 5 vowels
vowel = ['a','e','i','o','u', ' ']

#Creating a variable to count no of variable in the statement having iniatial value as 0
no_of_consonant = 0

#Iterating through the characters of the input_statement
for char in input_statement :

  #Checking if iterated character is not same as the 5 vowels & ' ' in the list 'vowel' and if so adding +1 to the variable 'no_of_vowel' one by one
  if char not in vowel :
    no_of_consonant += 1

print("No of consonant in the statement :",no_of_consonant)

Enter a statement to check no of consonant : qwerty
No of consonant in the statement : 5

7. Remove all whitespaces from a string.

In [ ]:
#Defining a def fun 'remove_whitespace(input_statement)'
def remove_whitespace(input_statement) :

  #Created an empty string variable
  result = ""

  #Iterating though each character of the 'input_statement'
  for char in input_statement :

    #If character is not equal to a whitespace, we're adding those character to the result variable one by one
    if char != " " :
      result = result + char
  return result

#Providing an 'input statement'
input_statement = "Hey, how are you doing?"

#Calling the def fun 'remove_whitespace(input_statement)' and storing it in a variable 'space_removed_statement'
space_removed_statement = remove_whitespace(input_statement)

#Printing the result 'space_removed_statement'
print (space_removed_statement)

Hey,howareyoudoing?

8. Find the length of a string without using the `len()` function.

In [ ]:
#Defining a def fun 'length(input_statement)'
def length(input_statement) :

  #Creating a variable 'length(input_statement)' having initial value as 0
  length_input_statement = 0

  #Iterating though each character of the 'input_statement' and adding +1 to the variable 'length(input_statement)' one by one
  for char in input_statement :
    length_input_statement += 1
  return length_input_statement

#Providing an input statement
input_statement = "Hey, how are you doing?"

#Calling the def fun 'length(input_statement)' and storing it in a variable 'length_input_statement'
length_input_statement = length(input_statement)

#Printing the result
print (length_input_statement)

23

9. Check if a string contains a specific word.

In [14]:
#Taking an input string from the user
input_string = input("Enter a string : ")

#Taking the specific word as input from the user
specific_word = input("Enter the specific word : ")

#Checking if the specific word is present in the input string with the help of if/else statement
if specific_word in input_string :
  print ("Yes, specfic word is present in the input string")
else :
  print ("No, specfic word is not present in the input string")

Enter a string : Hey, how are you?
Enter the specific word : qwerty
No, specfic word is not present in the input string

10. Replace a word in a string with another word.

In [15]:
#Taking an input string from the user
input_string = input("Enter a sentence: ")

#Taking old word and new word as input from the user
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

#Replacing the old word with the new word using string.replace() method
modified_string = input_string.replace(old_word, new_word)

#Printing the modified string
print("Modified string:", modified_string)

Enter a sentence: Hey, how are you?
Enter the word to be replaced: how
Enter the new word: who
Modified string: Hey, who are you?

11. Count the occurrences of a word in a string.

In [21]:
#Defining a function with 2 arguments, using split and for loop to find the occurence of a particular word
def count_occurence(input_statement, word_to_count_its_occurence) :
  count_of_occurence = 0
  words = input_statement.split()
  for word in words :
    if word == word_to_count_its_occurence :
      count_of_occurence += 1
  return count_of_occurence

#Providing input statement, target word and printing out the result
input_statement = "This is a sample sentence where we need to count the number of repetition of word sample sample."
word_to_count_its_occurence = "sample"
result = count_occurence(input_statement, word_to_count_its_occurence)
print ("Occurence of the word", "'",word_to_count_its_occurence,"'",":", result)

Occurence of the word ' sample ' : 2

12. Find the first occurrence of a word in a string.

In [17]:
def index_finder_first_occurence (input_statement, target_word):

    #Find the index of the first occurrence of the word in the text.
    index = input_statement.find(target_word)

    #Check if the index is -1, which basically indicates that the word is not found.
    if index == -1:
        return None

    #Return the index of the first occurrence of the word.
    return index

input_statement = "This is an sample sentence and sentence contains the word sample, multiple times."
target_word = "pwskills"
result = index_finder_first_occurence (input_statement, target_word)
print("Index of the first occurrence:", result)

Index of the first occurrence: None

13. Find the last occurrence of a word in a string.

In [22]:
def index_finder_last_occurence (input_statement, target_word):

    #Find the index of the last occurrence of the word in the text.
    index = input_statement.rfind(target_word)

    #Check if the index is -1, which basically indicates that the word is not found.
    if index == -1:
        return None

    #Return the index of the last occurrence of the word.
    return index

input_statement = "This is an sample sentence and sentence contains the word sample, multiple times."
target_word = "sample"
result = index_finder_last_occurence (input_statement, target_word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 58

14. Split a string into a list of words.

In [23]:
#Providing an input statement
input_statement = "This sentence needs to be split"

#Using split function to split all the words in the statement and storing it in a list
words = input_statement.split()

#Printing out the output
print (words)

['This', 'sentence', 'needs', 'to', 'be', 'split']

15. Join a list of words into a string.

In [24]:
#Providing a list of words
words = ['This', 'sentence', 'needs', 'to', 'be', 'joined']

##Using join function to join all the words in the list and storing it as a string
joined_statement = ' '.join(words)

#Printing out the output
print(joined_statement)

This sentence needs to be joined

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [25]:
#Providing an input statement
input_statement = "This is an example sentence."

#Using replace function to replace all the " " with "_" in the statement and storing it as string itself
converted_statement = input_statement.replace(" ", "_")

#Printing out the output
print (converted_statement)

This_is_an_example_sentence.

17. Check if a string starts with a specific word or phrase.

In [26]:
def check_occurence (input_statement, prefix) :

  #Using the startswith() method to check if the text starts with the specified prefix
  is_start = input_statement.startswith(prefix)

  if is_start :
    return True
  else :
    return False

input_statement = "This is an example statement"
prefix = "is"
result = check_occurence (input_statement, prefix)
print (result)

False

18. Check if a string ends with a specific word or phrase.

In [27]:
def check_occurence (input_statement, suffix) :

  #Using the endsswith() method to check if the text ends with the specified prefix
  ends_with = input_statement.endswith(suffix)

  if ends_with :
    return True
  else :
    return False

input_statement = "This is an example statement"
suffix = "is"
result = check_occurence (input_statement, suffix)
print (result)

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [28]:
input_statement = "hello world"

#Using the title() method to convert the input_statement to title case.
title_case = input_statement.title()

print(title_case)

Hello World

20. Find the longest word in a string.

In [29]:
def find_longest_word(input_statement):
    #Using the split() method to split the statement into a list of words.
    words = input_statement.split()

    #Initializing variables to check on longest word and its length.
    longest_word = ""
    max_length = 0

    #Iterating through the list of words.
    for word in words:

        #Checking if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    return longest_word

input_statement = "This is an example sentence."
longest_word = find_longest_word(input_statement)
print("Longest word:", longest_word)

Longest word: sentence.

21. Find the shortest word in a string.

In [30]:
def find_shortest_word(input_statement):
    #Using the split() method to split the statement into a list of words.
    words = input_statement.split()

    #Initializing variables to check on shortest word and its length.
    shortest_word = ""
    min_length = float('inf')

    #Iterating through the list of words.
    for word in words:

        #Checking if the length of the current word is lesser than the current min_length.
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

input_statement = "This is an example sentence."
shortest_word = find_shortest_word(input_statement)
print("Shortest word:", shortest_word)

Shortest word: is

22. Reverse the order of words in a string.

In [36]:
#Providing an input statement
input_statement = "Hello world, how are you?"

#Spliting the words of the input statement
split_strings = input_statement.split()

#Reversing the splitted word using index slicing
reversed_string = split_strings[::-1]

#Joining the revered splitted word to form statement in reverse order and printing the result
reversed_statement = " ".join(reversed_string)
print (reversed_string)

['you?', 'are', 'how', 'world,', 'Hello']

23. Check if a string is alphanumeric.

In [ ]:
def if_alpmun (input_string) :

  #Using the isalnum() method to check if the string is alphanumeric
  is_alpnum = input_string.isalnum()
  if is_alpnum :
    return True
  return False

input_string = "qwerty12345"
result = if_alpmun (input_string)
print (result)

24. Extract all digits from a string.

In [ ]:
def extract_digits(input_string):

    #Initializing an empty string to store the extracted digits.
    digits = ""

    #Iterating through each character in the text.
    for char in text:

        #Checking if the character is a digit using the isdigit() method.
        if char.isdigit():

            #Append the digit to the digits string.
            digits = digits + char

    #Returning the extracted digits.
    return digits

text = "qwerty12345"
extracted_digits = extract_digits(input_string)
print("Extracted digits:", extracted_digits)

25. Extract all alphabets from a string.

In [38]:
#Providing an input string
input_string = "000qwe123rty456"

#Extracting alphabet characters using list comprehension
string_alphabets = ''.join([char for char in input_string if char.isalpha()])

print (string_alphabets)

qwerty

26. Count the number of uppercase letters in a string.

In [39]:
#Providing an input string
input_string = "000qwe123RTY456"

#Extracting uppercase characters using list comprehension
upper_alphabets = ''.join([char for char in input_string if char.isupper()])

print (upper_alphabets)

RTY

27. Count the number of lowercase letters in a string.

In [40]:
#Providing an input string
input_string = "000qwe123RTY456"

#Extracting uppercase characters using list comprehension
lower_alphabets = ''.join([char for char in input_string if char.islower()])

print (lower_alphabets)

qwe

28. Swap the case of each character in a string.

In [41]:
#Providing an input statement
input_string = "SamPlE STateMENt"

#Swapping case by using swapcase()
result = input_string.swapcase()

#Printing out the result
print (result)

sAMpLe stATEmenT

29. Remove a specific word from a string.

In [53]:
def remove_word (input_statement, word_to_remove) :
  split_words = input_statement.split()
  print (split_words)
  modified_string = ""
  for word in split_words :
    if word != word_to_remove :
      modified_string += word + " "
  return modified_string

input_statement = "This is an example statement"
word_to_remove = "an"
result = remove_word (input_statement, word_to_remove)
print (result)

['This', 'is', 'an', 'example', 'statement']
This is example statement

30. Check if a string is a valid email address.

In [54]:
#Importing the regular expression module
import re

def if_valid_email (email):

  #Regular expression pattern for a basic email validation
  pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

  if re.match (pattern, email):
      return True
  else:
      return False

email1 = "rohit@email.com"
email2 = "qwerty-email"
result1 = if_valid_email(email1)
result2 = if_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [ ]:
email = "123rohit@gmail.com"

#Spliting the email address at "@" and taking the first part
username = email.split("@")[0]

print (username)

32. Extract the domain name from an email address string.

In [55]:
email = "123rohit@gmail.com"

#Spliting the email address at "@" and taking the later part
username = email.split("@")[1]

print (username)

gmail.com

33. Replace multiple spaces in a string with a single space.

In [56]:
input_statement = "This     is a sample    statement"

#Spliting the string at spaces and then join using a single space
result = ' '.join(input_statement.split())

print (result)

This is a sample statement

34. Check if a string is a valid URL.

In [57]:
#Importing urlparse from library urllib.parse
from urllib.parse import urlparse

def is_valid_url(url):
    try :
        result = urlparse(url)
        #Checking if both scheme and netloc are present
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)

#Should print True
print(result1)
# Should print False
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [58]:
def extract_protocol(url):

    #Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        #Extracting the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url = "https://www.google.com"
protocol = extract_protocol(url)
print("Protocol :", protocol)

Protocol : https

36. Find the frequency of each character in a string.

In [60]:
def calculate_frequency (input_statement) :

  frequency = {}

  for char in input_statement :
    if char not in frequency :
      frequency [char] = 1
    else :
      frequency [char] += 1
  return frequency

#Printing out result in the form of dictionary where key is the character and the value is the frequency of that particular character
input_statement = "How are you dear?"
result = calculate_frequency (input_statement)
print (result)

{'H': 1, 'o': 2, 'w': 1, ' ': 3, 'a': 2, 'r': 2, 'e': 2, 'y': 1, 'u': 1, 'd': 1, '?': 1}

37. Remove all punctuation from a string.

In [61]:
import string

def remove_punctuation (input_statement):

    #Creating a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    statement_without_punc = input_statement.translate(translator)

    return statement_without_punc

input_statement = "Hey! How are you?"

result = remove_punctuation(input_statement)

print("Original statement :", input_statement)
print("Statement without punctuation :", result)

Original statement : Hey! How are you?
Statement without punctuation : Hey How are you

38. Check if a string contains only digits.

In [62]:
input_statement = "123456"

#Checking if the statement contain only digits using isdigit() func
result = input_statement.isdigit()

print (result)

True

39. Check if a string contains only alphabets.

In [63]:
input_statement = "qwerty12345"

#Checking if the statement contain only alphabets using isalpa() func
result = input_statement.isalpha()

print (result)

False

40. Convert a string to a list of characters.

In [64]:
input_string = "qwerty"

list = []

for char in input_string :
  if char :
    list += char

print (list)

['q', 'w', 'e', 'r', 't', 'y']

41. Check if two strings are anagrams.

In [65]:
def are_anagrams(str1, str2):
    #Removing spaces and convert strings to lowercase for accurate comparison
    s1 = str1.replace(" ", "").lower()
    s2 = str2.replace(" ", "").lower()

    #Sorting the characters in both strings and compare
    return sorted(s1) == sorted(s2)

str1 = "silent"
str2 = "listen"

#Checking if strings are anagrams
result = are_anagrams(str1, str2)

#Print the results
print(result)

True

42. Encode a string using a Caesar cipher.

In [66]:
def encode_ceaser_cipher (input_statement, shift) :
    result = ""

    for i in range (len(input_statement)) :
        char = input_statement [i]

        #Encrypting uppercase characters
        if (char.isupper()) :
            result += chr((ord(char) + shift-65) % 26 + 65)

        #Encrypting lowercase characters
        else:
            result += chr((ord(char) + shift-97) % 26 + 97)

    return result

#check the above function
input_statement = "EnemiesAhead"
shift = 4
print ("Instruction : ", input_statement)
print ("Shift : ", shift)
print ("Cipher : ", encode_ceaser_cipher (input_statement, shift))

Instruction :  EnemiesAhead
Shift :  4
Cipher :  IriqmiwElieh

43. Decode a Caesar cipher encoded string.

In [67]:
def decode_ceaser_cipher (input_statement, shift) :
    result = ""

    for i in range (len(input_statement)) :
        char = input_statement [i]

        #Encrypting uppercase characters
        if (char.isupper()) :
            result += chr((ord(char) - shift-65) % 26 + 65)

        #Encrypting lowercase characters
        else:
            result += chr((ord(char) - shift-97) % 26 + 97)

    return result

#check the above function
input_statement = "IriqmiwElieh"
shift = 4
print ("Instruction : ", input_statement)
print ("Shift : ", shift)
print ("Cipher : ", decode_ceaser_cipher (input_statement, shift))

Instruction :  IriqmiwElieh
Shift :  4
Cipher :  EnemiesAhead

44. Find the most frequent word in a string.

In [68]:
import re

def to_dic (input_statement) :

  #Removing punctuation and converting input statement to lowercase
  clean_input_statement = re.sub(r'[^\w\s]', '', input_statement).lower()

  #Spliting words
  words = clean_input_statement.split()

  #Creating an empty dictionary
  d1 = {}

  #Iterating through all the words and adding them up with their frequency in the dictionary d1
  for word in words :
    if word not in d1 :
      d1[word] = 1
    else :
      d1[word] += 1
  return d1

#Providing input statement, calling def func and ultimately getting result
input_statement = "Hello, world! hello hello hello. How is everyone?"
newd1 = to_dic (input_statement)
print ("Dictionary with words & their frequency :", newd1)
max_key = max (newd1, key=newd1.get)
print ("Word with max frequency :", max_key)

Dictionary with words & their frequency : {'hello': 4, 'world': 1, 'how': 1, 'is': 1, 'everyone': 1}
Word with max frequency : hello

45. Find all unique words in a string.

In [69]:
import re

def unique_words(input_statement):

    #Removing punctuation and converting input statement to lowercase
    clean_statement = re.sub(r'[^\w\s]', '', input_statement).lower()

    #Spliting the string into words and convert to a set for uniqueness
    words = set(clean_statement.split())

    return words

#Providing input statement, calling def func and ultimately getting result
input_statement = "Hello world, hello hello hello! How is everyone?"
result = unique_words(input_statement)
print("Unique words:", result)

Unique words: {'hello', 'everyone', 'world', 'is', 'how'}

46. Count the number of syllables in a string.

In [75]:
import re

def count_syllables(word):

    #Counting vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

#Example words
word1 = "hello"
word2 = "world"
word3 = "qwerty"

#Counting syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

#Printing the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'world' has 1 syllables.
'qwerty' has 2 syllables.

47. Check if a string contains any special characters.

In [70]:
import re

def contains_special_characters(input_statement):

    #Defining a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    #Using the search() method to find a match
    match = pattern.search(input_statement)

    #Return True if a match is found, False otherwise
    return bool(match)

#Providing input statement, calling def func and ultimately getting result
input_statement = "Hello world"
result = contains_special_characters(input_statement)
print ("Do input statment contains special character :", result)

Do input statment contains special character : False

48. Remove the nth word from a string.

In [71]:
def remove_nth_word(input_statement, n) :

    #Spliting the input string into words
    words = input_statement.split()

    #Checking if n is within a valid range
    if n >= 1 and n <= len(words) :

        #Removing the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        #Joining the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None

#Providing input statement, calling def func and ultimately getting result
input_statement = "This is an example sentence to test the function."
n = 4
result = remove_nth_word(input_statement, n)
print ("Original statment :",input_statement,"\n","Updated statement :", result)

Original statment : This is an example sentence to test the function.
 Updated statement : This is an sentence to test the function.

49. Insert a word at the nth position in a string.

In [72]:
def add_nth_word(input_statement, target_word, n) :

    #Spliting the input string into words
    words = input_statement.split()

    for word in words :


      #Checking if n is within a valid range
      if n >= 1 and n <= len(words) :

        words.insert(n-1, target_word)

        modified_statement = " ".join(words)

        return modified_statement

      else :
        return None

#Providing input statement, calling def func and ultimately getting result
input_statement = "This is an example sentence to test the function."
n = 4
result = add_nth_word(input_statement, 'set', n)
print ("Original statment :",input_statement,"\n","Updated statement :", result)

Original statment : This is an example sentence to test the function.
 Updated statement : This is an set example sentence to test the function.

50. Convert a CSV string to a list of lists.

In [73]:
def csv_string_to_list(csv_string):

    #Spliting the CSV string into lines
    lines = csv_string.split('\n')

    #Initializing an empty list to store the result
    result = []

    for line in lines:

        #Spliting each line into fields using comma as the delimiter
        fields = line.split(',')

        #Appending the fields to the result list as a row
        result.append(fields)

    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## **List Based Practice Problem**

1. Create a list with integers from 1 to 10.

In [ ]:
#Using a list comprehension to create a list of integers from 1 to 10
list_l1 = [i for i in range (1,11)]

print (list_l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
listl2 = [1,2,3,4,5,6,7,8,9]

len_listl2 = 0

#Iterating through the list and increasing count as per char
for char in listl2 :
  len_listl2 += 1

print (len_listl2)

9

3. Append an element to the end of a list.

In [ ]:
listl3 = [1, 2, 3]

#Element to append
new_element = 4

#Appending the new element to the end of the list with the help of append() func
listl3.append(new_element)

print("Updated list:", listl3)

Updated list: [1, 2, 3, 4]

4. Insert an element at a specific index in a list.

In [ ]:
listl4 = [1,2,3,4,5]

#Inserting an element '80' at the 4th place
listl4.insert(4, 80)

print (listl4)

[1, 2, 3, 4, 80, 5]

5. Remove an element from a list by its value.

In [ ]:
listl5 = [10,20,30,40,50]

#Removing the element 40 by it's value
listl5.remove(40)

print (listl5)

[10, 20, 30, 50]

6. Remove an element from a list by its index.

In [ ]:
listl6 = [10,20,30,40,50]

#Deleting the 4th element by it's index
listl6.pop(4)

print (listl6)

[10, 20, 30, 40]

7. Check if an element exists in a list.

In [ ]:
listl7 = [10,20,30,40,50]

element_to_check = 40

#Checking if the element exists in the list
if element_to_check in listl7 :
  print (True)
else :
  print (False)

True

8. Find the index of the first occurrence of an element in a list.

In [ ]:
listl8 = [10,20,30,40,50,50,40,30,20,10]

index_of_40 = listl8.index(40)

print (index_of_40)

3

9. Count the occurrences of an element in a list.

In [ ]:
def count_occurence (listl9, target_element) :

  #Counting the occurrences of the element using loop, took variable count having value 0 at the start
  count = 0

  #Iterating through the list and increasing count as per occurence of the target element
  for char in listl9 :
    if char == target_element :
      count += 1
  return count

#Providing a list, calling def func and ultimately getting result
listl9 = [10,20,30,40,50,50,40,30,20,10]
result = count_occurence (listl9, 40)
print (result)

2

10. Reverse the order of elements in a list.

In [ ]:
def reverse_order (listl10) :

  #Creating an emplty list
  reverse_list = []

  #Iterating through the list and putting characters in the reverse order
  for char in listl10 :
    reverse_list = [char] + reverse_list
  return reverse_list

#Providing a list, calling def func and ultimately getting result
listl10 = [10,20,30,40,50]
result = reverse_order (listl10)
print (result)

[50, 40, 30, 20, 10]

In [ ]:
listl10 = [10,20,30,40,50]

#Reversing the order of elements in the list using slicing
reverse_list10 = listl10[::-1]

print (reverse_list10)

[50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [ ]:
list_11 = [50, 40, 30, 20, 10]

#Sorting the list in ascending order
list_11.sort()

print (list_11)

[10, 20, 30, 40, 50]

12. Sort a list in descending order.

In [ ]:
list_12 = [50, 100, 310, 210, 10]

#Sorting the list in ascending order
list_12.sort(reverse=True)

print (list_12)

[310, 210, 100, 50, 10]

13. Create a list of even numbers from 1 to 20.

In [ ]:
#Creating a varible that would print a list of number starting from 2 till 21 with a step difference of 2
even_num_till20 =  [value for value in range (2, 21, 2)]

print (even_num_till20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
#Creating a varible that would print a list of number starting from 1 till 20 with a step difference of 2
odd_num_till20 =  [value for value in range (1, 20, 2)]

print (odd_num_till20)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
list_15 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#Finding the sum of the value in the list
sum_list_15 = sum(list_15)

print (sum_list_15)

100

16. Find the maximum value in a list.

In [ ]:
list_16 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#Finding the maximum value in the list
max_list_16 = max(list_16)

print (max_list_16)

19

17. Find the minimum value in a list.

In [ ]:
list_17 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#Finding the maximum value in the list
min_list_17 = min(list_17)

print (min_list_17)

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
list_of_squares = []

for i in range (1,11) :
  list_of_squares = list_of_squares + [i*i]
print (list_of_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random

list_19 = [random.randint(1,100) for value in range (5)]

print (list_19)

[30, 99, 72, 69, 12]

20. Remove duplicates from a list.

In [ ]:
list_20 = [10,20,20,20,30,60,40]

#Removing duplicates by converting list to a set and back to a list

new_list_20 = list(set(list_20))

print (new_list_20)

[40, 10, 20, 60, 30]

21. Find the common elements between two lists.

In [ ]:
def common_element (a, b) :

    a_set = set(a)
    b_set = set(b)

    #Finding the common elements between two lists by converting them to set
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")

#Providing 2 lists, calling def func and ultimately getting result
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_element (a, b)

{5}

22. Find the difference between two lists.

In [ ]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

#Finding the difference between lists using the difference() method
difference = list (set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]

#Merging lists using the + operator
merged_list = list1 + list2

#Print the merged list
print (merged_list)

[10, 20, 30, 40, 50, 60]

24. Multiply all elements in a list by 2.

In [ ]:
list_24 = [10, 20, 30, 40, 50]

#Multiplying all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in list_24]

print ("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [ ]:
def extraxt_even (list_25) :

  even_list_25 = []

  for value in list_25 :
    if value % 2 == 0 :
      even_list_25 += [value]
  return even_list_25

list_25 = [1,2,3,4,5,6,7,8,9]
result = extraxt_even (list_25)
print (result)

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [ ]:
string_list = ["10", "20", "30", "40", "50"]

#Converting list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

print("List of integers :", integer_list)

List of integers : [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [ ]:
int_list = [10, 20, 30, 40, 50]

#Converting list of integer to list of strings using a list comprehension
str_list = [str(x) for x in int_list]

print ("List of integers :", str_list)

List of integers : ['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [ ]:
#Creating function to flatten a nested list
def flatten_list(nested_list):
    flattened = []

    for sublist in nested_list:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

#Providing nested list, calling def func and ultimately getting result
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
result = flatten_list(nested_list)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
#Creating function to generate the first n Fibonacci numbers
def generate_fibonacci(n):

    #Initializing the list with the first two Fibonacci numbers
    fibonacci_list = [0, 1]

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generating the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
#Creating function to check if a list is sorted in ascending order
def is_list_sorted (list_30) :

  for i in range(1, len(list_30)):
      if list_30[i] < list_30[i-1]:
          return False
  return True

#Providing sorted list, calling def func and ultimately getting result
list_30 = [10, 20, 30, 40, 50]
result = is_list_sorted (list_30)
print ("Is list sorted :", result)

Is list sorted : True

31. Rotate a list to the left by `n` positions.

In [ ]:
#Creating a function to rotate a list to the left by n positions
def rotate_left(list_31, n):

    n = n % len(list_31)
    rotated = list_31[n:] + list_31[:n]
    return rotated

#Providing a list, calling def func and ultimately getting result
list_31 = [1, 2, 3, 4, 5, 6]
n = 2
result = rotate_left(list_31, n)
print("Rotated list:", result)

Rotated list: [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
#Creating a function to rotate a list to the left by n positions
def rotate_left(list_32, n):

    n = n % len(list_32)
    rotated = list_32 [len(list_32)-n:] + list_32 [:len(list_32)-n]
    return rotated

#Providing a list, calling def func and ultimately getting result
list_32 = [1, 2, 3, 4, 5, 6]
n = 2
result = rotate_left(list_32, n)
print("Rotated list:", result)

Rotated list: [5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [ ]:
def prime(x, y) :

    prime_list = []

    for i in range(x, y) :
        if i == 0 or i == 1:
            continue
        else :
            for j in range(2, int(i/2) + 1):
                if i % j == 0:
                    break
            else :
                prime_list.append(i)
    return prime_list


starting_range = 2
ending_range = 50
result = prime(starting_range, ending_range)
if len(result) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", result)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
list_34 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3

for i in range(0, len(list_34), n):
    x = i
    print(list_34 [x: x + n])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [ ]:
list_35 = [5, 20, 15, 30, 25]

#Removing duplicates and sorting the list in ascending order
sorted_list = sorted(set(list_35))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

36. Replace every element in a list with its square.

In [ ]:
list_36 = [2, 4, 6, 8, 10]


#Replacing every element with its square using a list comprehension
squared_list = [x*x for x in list_36]

print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
list_37 = ["a", "b", "c", "d", "e"]
dic_37 = {}

#Iterating through the list and providing list character as keys and their indexes as values
for i in range (0, len(list_37)) :
    dic_37 [list_37[i]] = i
print (dic_37)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

38. Shuffle the elements of a list randomly.

In [ ]:
#Importing random library
import random

list_38 = [1,2,3,4,5,6,7,8,9]

#Shuffling list using random.shuffle() function
random.shuffle(list_38)

print (list_38)

[7, 1, 3, 8, 4, 2, 9, 6, 5]

39. Create a list of the first 10 factorial numbers.

In [ ]:
#Creating a function to calculate factorial
def factorial (n) :
    if n == 0 or n == 1 :
        return 1
    else :
        return n * factorial (n - 1)

#Creating a list of the first 10 factorial numbers
result = [factorial (i) for i in range(10)]

print ("List of the first 10 factorial numbers:", result)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
# Creating a function to check if two lists have at least one element in common
def has_common_element(list1, list2):

    for item in list1:
        if item in list2:
            return True
    return False

#Providing two lists, calling def func and ultimately getting result
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = has_common_element(list1, list2)
print (result)

True

41. Remove all elements from a list.

In [ ]:
list_41 = [4, 5, 6, 7, 8]

#Removing all elements of the list by using clear function
list_41.clear()

print (list_41)

[]

42. Replace negative numbers in a list with 0.

In [ ]:
list_42 = [4, 5, -6, 7, -8]

for i in range (0, len(list_42)) :

  if list_42 [i] < 0 :
    list_42 [i] = 0

print (list_42)

[4, 5, 0, 7, 0]

43. Convert a string into a list of words.

In [ ]:
string_43 = "This is a sample sentence."

#Converting the string into a list of words
word_list = string_43.split()

print("List of words:", word_list)

List of words: ['This', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [ ]:
list_44 = ["This", "is", "a", "sample", "sentence."]

#Converting the list of words into a string
string_44 = " ".join(word_list)

print("Converted string:", string_44)

Converted string: This is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [ ]:
n = 5

#Creating a list of the first n powers of 2 using a loop
result = [i*i for i in range(n)]

print(result)

[0, 1, 4, 9, 16]

46. Find the longest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

#Finding the longest string in the list
longest_string = ""

for value in string_list:
    if len(value) > len(longest_string):
        longest_string = value

#Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

#Finding the shortest string in the list
shortest_string = string_list[0]

for value in string_list:
    if len(value) < len(shortest_string) & len(value) > 0:
        shortest_string = value

#Print the longest string
print("shortest string:", shortest_string)

shortest string: apple

48. Create a list of the first `n` triangular numbers.

In [ ]:
#Creating a function to create a list of the first n triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

result = triangular_numbers(n)
print(result)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [13]:
def is_subsequence(list_1, list_2):
    sub_index = 0
    for item in list_1:
        if item == list_2[sub_index]:
            sub_index += 1
            if sub_index == len(list_2):
                return True
    return False

#Creating 2 lists and checking if the later list is a subsequene of the first list
list_1 = [1, 2, 3, 4, 5, 6, 7]
list_2 = [2, 4, 6]

if is_subsequence(list_1, list_2):
    print("List 2 is a subsequence of List 1")
else:
    print("List 2 is not a subsequence of List 1")

List 2 is a subsequence of List 1

50. Swap two elements in a list by their indices.

In [ ]:
list_50 = [1, 2, 3, 4, 5]

#Indexes of elements to be swapped
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = list_50[index1]
list_50 [index1] = list_50 [index2]
list_50 [index2] = temp

print("List after swapping elements:", list_50)

List after swapping elements: [1, 4, 3, 2, 5]

## **Tuple Based Practice Problem**

---

1. Create a tuple with integers from 1 to 5.

In [ ]:
#Creating a variable consiting tuple ranging from 1 to (6-1)
x = tuple (range(1, 6))

print (x)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
#Creating a tuple with some elements
tuple_2 = (10, 20, 30, 40, 50)

#Accessing the third element (index 2) of the tuple
third_element = tuple_2[2]

print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

3. Find the length of a tuple without using the `len()` function.

In [ ]:
#Creating a tuple to find its length
tuple_3 = (10, 20, 30, 40, 50)

#Initializing a variable to count the elements
count = 0

#Iterating through the tuple and incrementing the count for each element
for value in tuple_3:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [ ]:
#Creating a tuple
tuple_4 = (10, 20, 30, 20, 40, 50, 20)

#Chossing an element to count occurrences of
element_to_count = 20

#Initializing a variable to keep track of the count
count = 0

#Iterating through the tuple and count occurrences of the chosen element
for item in tuple_4 :
    if item == element_to_count :
        count += 1

#Printing the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
def find_index(element, tup):

    index = 0

    for item in tup:
        if item == element:
            return index
        index += 1

    #If the element is not found, return -1 or raise an exception, depending on your preference
    return ValueError  # or raise ValueError("Element not found")


my_tuple = (10, 20, 30, 40, 50)
element_to_find = 60
print("Index of", element_to_find, "in tuple:", find_index(element_to_find, my_tuple))

Index of 60 in tuple: <class 'ValueError'>

6. Check if an element exists in a tuple.

In [ ]:
#Creating a tuple
tuple_6 = (10, 20, 30, 40, 50)

#Choosing the element to check for existence
element_to_check = 10

#Checking if the element exists in the tuple using the 'in' operator
if element_to_check in tuple_6 :
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

10 exists in the tuple.

7. Convert a tuple to a list.

In [ ]:
#Creating a tuple
tuple_7 = (10, 20, 30, 40, 50)

#Converting the tuple to a list
list_7 = list(my_tuple)

#Printing the result list
print("Tuple:", tuple_7)
print("List:", list_7)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [ ]:
#Creating a tuple
list_8 = [10, 20, 30, 40, 50]

#Converting the list to a tuple
tuple_8 = tuple(list_8)

#Printing the result tuple
print("List:", list_8)
print("Tuple:", tuple_8)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [ ]:
#Creating a tuple
tuple_9 = (10, 20, 30)

#Unpacking the elements of the tuple into variables
var1, var2, var3 = tuple_9

#Printing the result
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
#Creating a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]

#Converting the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

#Printing the result
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
#Creating a list of even numbers using a list comprehension
odd_numbers_list = [num for num in range(1, 10, 2)]

#Converting the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)

#Print the result
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
#Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

#Concatenating the two tuples
concatenated_tuple = tuple1 + tuple2

#Printing the result
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [ ]:
#Creating a tuple
original_tuple = (1, 2, 3)

#Repeating the tuple three times
repeated_tuple = original_tuple * 3

#Printing the result
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
#Creating an empty tuple to check if its empty or not
tuple_14 = ()

#Provide if-else conditions to check
if len (tuple_14) == 0 :
    print ("Tuple is empty")
else:
    print ("Tuple is not empty")

Tuple is empty

15. Create a nested tuple.

In [ ]:
#Creating individual tuples
tuple_15_1 = (1, 2, 3)
tuple_15_2 = ('a', 'b', 'c')
tuple_15_3 = (True, False)

#Printing the nested tuple
print("Nested tuple:", tuple_15_1 + tuple_15_2 +tuple_15_3 )

Nested tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

16. Access the first element of a nested tuple.

In [ ]:
#Creating a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

#Accessing the first element of the nested tuple
first_element = nested_tuple[0]

#Printing the result
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17. Create a tuple with a single element.

In [ ]:
#Creating a tuple with a single element
single_element_tuple = (10,)  # Note the trailing comma

#Printing the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (10,)

18. Compare two tuples.

In [12]:
#Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

#Comparing the two tuples using different comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [ ]:
#Creating a tuple
tuple_19 = (1, 2, 3, 4, 5)

#Deleting the tuple using the 'del' statement
del tuple_19

#Trying to access the tuple (will raise a NameError)
print(tuple_19)

NameError: name 'tuple_19' is not defined

20. Slice a tuple.

In [ ]:
#Creating a tuple
tuple_20 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#Slicing the tuple to get a portion of it
sliced_tuple = tuple_20 [4:6]  # Elements from index 2 to 5 (end index is exclusive)

#Printing the result
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (5, 6)

21. Find the maximum value in a tuple.

In [ ]:
#Creating a tuple
tuple_21 = (10, 20, 5, 45, 30)

#Finding the maximum value in the tuple using the 'max()' function
max_value = max(tuple_21)

#Printing the result
print("Maximum value:", max_value)

Maximum value: 45

22. Find the minimum value in a tuple.

In [ ]:
#Creating a tuple
tuple_22 = (10, 20, 5, 45, 30)

#Finding the maximum value in the tuple using the 'max()' function
min_value = min(tuple_22)

#Printing the result
print("Maximum value:", min_value)

Maximum value: 5

23. Convert a string to a tuple of characters.

In [ ]:
#Creating a string
string_23 = "Hello, World!"

#Converting the string to a tuple of characters
tuple_of_characters = tuple(string_23)

#Printing the result
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [ ]:
#Creating a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

#Converting the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

#Printing the result
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

25. Create a tuple from multiple data types.

In [ ]:
#Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [ ]:
#Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

#Comparing the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

#Printing the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [ ]:
#Creating a tuple
tuple_27 = (5, 2, 8, 1, 3)

#Converting the tuple to a list, sort the list, and converting it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

#Printing the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (5, 10, 20, 30, 45)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
#Creating a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

#Converting the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

#Printing the result
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
#Creating a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

#Converting the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

#Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [ ]:
#Creating two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

#Merging the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

#Printing the result
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [ ]:
#Creating function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

#Creating a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

#Flattening the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

#Printing the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
#Creating function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

#Generating the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

#Converting the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

#Printing the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
#Creating function to check if a tuple is a palindrome
def is_palindrome (tuple_33):
    return tuple_33 == tuple_33[::-1]

#Creating tuples for testing
tuple_33_1 = (1, 2, 3, 2, 1)
tuple_33_2 = (1, 2, 3, 4, 5)

#Checking if the tuples are palindromes
result_1 = is_palindrome(tuple_33_1)
result_2 = is_palindrome(tuple_33_2)

# Print the results
print("First tuple is a palindrome:", result_1)
print("Second tuple is a palindrome:", result_2)

First tuple is a palindrome: True
Second tuple is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
#Creating a tuple of squares using a list comprehension
square_tuple = tuple (value * value for value in range (1,6))

print (square_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
tuple_35 = (1,2,3,4,5,6,7,8,9)

#Filtering out even numbers using a list comprehension
tuple_35_even = tuple (value for value in tuple_35 if value%2 == 0)

print (tuple_35_even)

(2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [ ]:
tuple_36 = (1,2,3,4,5,6,7,8,9)

#Multiplying all elemnet by 2 using a list comprehension
tuple_36_multiply_2 = tuple (value * 2 for value in tuple_35)

print (tuple_36_multiply_2)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers.

In [ ]:
import random

#Creating tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for value in range(10))

#Printing the result
print("Random tuple:", random_tuple)

Random tuple: (48, 90, 44, 63, 72, 74, 62, 53, 30, 2)

38. Check if a tuple is sorted.

In [ ]:
#Creating function to check if a tuple is sorted
def is_sorted (tuple_38) :
  for i in range (0, len(tuple_38)) :
    if tuple_38 [i] < tuple_38 [i-1] :
      return False
  return True

#Creating tuple for testing
tuple_38 = (5, 3, 1, 4, 2)

#Checking if the tuples are sorted
result = is_sorted (tuple_38)

#Printing the result
print("Tuple is sorted:", result)

Tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_left (tuple_39, n) :

  n = n % len(tuple_39)
  tuple_39_rotated = tuple_39[n:] + tuple_39[:n]
  return tuple_39_rotated

tuple_39 = (1,2,3,4,5)
n = 3
result = rotate_left (tuple_39, n)
print (result)

(4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_right (tuple_39, n) :

  n = n % len(tuple_39)
  tuple_39_rotated = tuple_39[len(tuple_39)-n:] + tuple_39[:len(tuple_39) - n]
  return tuple_39_rotated

tuple_39 = (1,2,3,4,5)
n = 2
result = rotate_right (tuple_39, n)
print (result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
#Defining a function to generate the first n Fibonacci numbers
def tuple_fibonacci (n) :

  #Initializing the list with the first two Fibonacci numbers
  fibtup = [0,1]

  #Calculating and adding next elements till n
  [fibtup.append(fibtup[-1] + fibtup[-2]) for i in range (2, n)]

  return tuple(fibtup)


result = tuple_fibonacci (5)
print (result)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
#Takinging user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

#Splitting the input string into a list of strings
input_list = input_str.split(',')

#Converting the list of strings to a tuple
user_tuple = tuple(input_list)

#Printing the result
print("User input tuple:", user_tuple)

Enter elements separated by commas: q,w,e,r,t,y
User input tuple: ('q', 'w', 'e', 'r', 't', 'y')

43. Swap two elements in a tuple.

In [ ]:
#Creating a tuple
tuple_43 = ('q', 'w', 'e', 'r', 't', 'y')

# Swap elements at indices 1 and 3
a = 1
b = 3
swapped_tuple = tuple(
    tuple_43[i] if i not in (a, b) else
    tuple_43[b] if i == a else
    tuple_43[a]
    for i in range(len(tuple_43))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: ('q', 'r', 'e', 'w', 't', 'y')

44. Reverse the elements of a tuple.

In [ ]:
#Creating a tuple
tuple_44 = (1, 2, 3, 4, 5)

#Reversing the elements using slicing
reversed_tuple = tuple_44[::-1]

#Printing the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
#Defining the value of n
n = 5

#Creating a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

#Printing the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [ ]:
#Creating a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

#Finding the longest string in the tuple
longest_string = max(string_tuple, key=len)

#Printing the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [ ]:
#Creating a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

#Finding the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

#Printing the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
#Defining the value of n
n = 5

#Creating a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

#Printing the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
#Creating a function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

#Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

#Subsequence tuple
sub_tuple = (3, 4, 5)

#Checking if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

#Printing the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
#Defining the value of n
n = 10

#Creating a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

#Printing the result
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Set Based Practice Problem**

---

1. Create a set with integers from 1 to 5.

In [ ]:
set_1 = set()

#Adding integers from 1 to 5 to an empty set and printing out the result
set_1.add(1)
set_1.add(2)
set_1.add(3)
set_1.add(4)
set_1.add(5)

print (set_1)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [ ]:
set_2 = {1, 2, 3, 4, 5}

#Adding one integers to an existing set and printing out the result
set_2.add(6)

print (set_2)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
set_3 = {1, 2, 3, 4, 5, 6}

#Removing one integers to an existing set and printing out the result
set_3.remove(6)

print (set_3)

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [ ]:
set_4 = {1, 2, 3, 4, 5}
n = 4

#Checking with the help of if-else statement to check if the element exists in the set
if n in set_4 :
  print ("Element present in set :", True)
else :
  print ("Element present in set :", False)

Element present in set : True

5. Find the length of a set without using the `len()` function.

In [ ]:
set_5 = {1, 2, 3, 4, 5}
count = 0

#Iterating through each element in the set and adding in count one by one and printing the result
for value in set_5 :
  if value :
    count += 1
print (count)

5

6. Clear all elements from a set.

In [ ]:
set_6 = {1, 2, 3, 4, 5, 6}

#Removing one integers to an existing set and printing out the result
set_6.clear()

print (set_6)

set()

7. Create a set of even numbers from 1 to 10.

In [ ]:
even_numbers_set = set()

#Iterating through numbers from 1 to 10 and printing out only the even numbers
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_numbers_set = set()

#Iterating through numbers from 1 to 10 and printing out only the odd numbers
for num in range(1, 10):
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Finding the union of the two sets using the `union()` method
union_result = set1.union(set2)

#Print the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Finding the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

#Print the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection of Set 1 and Set 2:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}

11. Find the difference between two sets.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Finding the difference of the two sets using the `difference()` method
difference_result = set1.difference(set2)

#Print the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference of Set 1 and Set 2:", difference_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Difference of Set 1 and Set 2: {1, 2, 3}

12. Check if a set is a subset of another set.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Finding if set1 is a subset of set2 using the `issubset()` method
issubset_result = set1.issubset(set2)

#Print the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is Set 1 a subset of Set 2:", issubset_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is Set 1 a subset of Set 2: False

13. Check if a set is a superset of another set.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {4, 5, 6, 7, 8}

#Finding if set1 is a subset of set2 using the `issuperset()` method
issuperset_result = set1.issuperset(set2)

#Print the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Is Set 1 a superset of Set 2:", issuperset_result)

Set 1: {1, 2, 3, 4, 5, 6, 7, 8}
Set 2: {4, 5, 6, 7, 8}
Is Set 1 a superset of Set 2: True

14. Create a set from a list.

In [ ]:
#Defining a list
list_14 = [1, 2, 3, 4, 5, 6, 7, 8]

#Converting the list into a set & printing the result
set_14 = set(list_14)

print (set_14)

{1, 2, 3, 4, 5, 6, 7, 8}

15. Convert a set to a list.

In [ ]:
#Defining a set
set_15 = {1, 2, 3, 4, 5, 6, 7, 8}

#Converting the set into a list & printing the result
list_15 = list(set_14)

print (list_15)

[1, 2, 3, 4, 5, 6, 7, 8]

16. Remove a random element from a set.

In [ ]:
import random

#Defining a set
set_16 = {1, 2, 3, 4, 5, 6, 7, 8}

#Selecting a random element using the random.choice() function by converting the given set into a list
random_element = random.choice(list(set_16))

#Using remove function choosing the random_element and printing out the result
set_16.remove(random_element)

print (set_16)

{2, 3, 4, 5, 6, 7, 8}

17. Pop an element from a set.

In [ ]:
#Creating a set
set_17 = {0, 1, 2, 3, 4, 5}

#Printing the original set
print("Original set:", set_17)

#Poping an element from the set using the pop() method
popped_element = set_17.pop()

#Printing the element that was popped
print("Popped element:", popped_element)

#Printing the set after popping an element
print("Set after popping:", set_17)

Original set: {0, 1, 2, 3, 4, 5}
Popped element: 0
Set after popping: {1, 2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Checking if the two sets have a common element
intersection_element = set1.intersection(set2)

#Printing the result
print("Set 1:", set1)
print("Set 2:", set2)

if not intersection_element :
  print ("There is no common element")
else :
  print ("Common elements :", intersection_element)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Common elements : {4, 5}

19. Find the symmetric difference between two sets.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Checking if the two sets have a common element
symmetric_element = set1 ^ set2

#Printing the result
print("Set 1:", set1)
print("Set 2:", set2)

if not intersection_element :
  print ("There is no symmetric diffence")
else :
  print ("Symmetric difference :", symmetric_element)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Symmetric difference : {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
print("Set 1 :", set1)

set2 = {4, 5, 6, 7, 8}
print("Set 2 :", set2)

#Checking if the two sets have a common element
set1.update(set2)

#Printing the result
print("Updated Set 1 :", set1)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}
Updated Set 1 : {1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [ ]:
#Creating function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

#Creating an empty set to store the prime numbers
prime_set = set()

#Initializing the number to start checking for primes
num = 2

#Looping until we have found the first 5 prime numbers
while len(prime_set) < 5:

    #Checking if the current number is prime using the is_prime function
    if is_prime(num):

        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    #Moving on to the next number for the next iteration
    num += 1

#Printing the set of prime numbers
print("Set of the first 5 prime numbers :", prime_set)

Set of the first 5 prime numbers : {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}

#Checking if the sets are identical using the `==` operator
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [ ]:
#Defining a list to froze
list_23 = [1, 2, 3, 4, 5]

#Creating a frozen set using the 'frozenset' constructor and passing the list of elements
frozen_set = frozenset(list_23)

#Printing the frozen set
print("Frozen Set:", frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [ ]:
#Defining the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

#Using the 'isdisjoint()' method to check if the sets are disjoint
disjoint_status = set1.isdisjoint(set2)

#Printing the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
#Creating an empty set to store the squares of numbers
squares_set = set()

#Using a loop to iterate through numbers from 1 to 5
for num in range(1, 6):

    #Calculating the square of the current number
    square = num ** 2

    #Adding the square to the set
    squares_set.add(square)

#Printing the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [ ]:
#Creating a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

#Initializing an empty set to store the filtered even numbers
even_numbers_set = set()

#Iterating through each element in the original set
for num in original_set:

    #Checking if the current number is even (divisible by 2)
    if num % 2 == 0:

        #If even, adding it to the even_numbers_set
        even_numbers_set.add(num)

#Printing the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [ ]:
#Creating a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

#Initializing an empty set to store the filtered even numbers
multiplied_set = set()

#Iterating through each element in the original set
for num in original_set:

  multiplied_num = num * 2

  multiplied_set.add(multiplied_num)

print ("Multiplied set :", multiplied_set)

Multiplied set : {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [ ]:
import random

set_28 = set()

count_of_random_number = 5

for i in range (count_of_random_number) :
  random_number = random.randint(1,100)
  set_28.add(random_number)

print (set_28)

{99, 36, 69, 44, 21}

29. Check if a set is empty.

In [ ]:
#Creating an example set
set_29 = set()

#Applying if-else condition to check if the set is empty or not
if value in set_29:
    print ("Set is not empty")
else :
  print ("Set is empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}

frozenset1 = frozenset(set1)
frozenset2 = frozenset(set2)
frozenset3 = frozenset(set3)

nestedset = {frozenset1, frozenset2, frozenset3}
print (nestedset)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [ ]:
#Creating a set with some elements
set_31 = {1, 2, 3, 4, 5}

#Printing the initial set
print("Initial set:", set_31)

#Defining the element to be removed
element_to_remove = 3

#Using the discard() method to remove the element from the set
set_31.discard(element_to_remove)

#Displaying the set after discarding the element
print("Set after removing", element_to_remove, ":", set_31)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#Checking if set1 is a subset of set2
is_subset = set1.issubset(set2)

#Checking if set2 is a subset of set1
is_superset = set1.issuperset(set2)

#Finding the intersection of the sets
intersection = set1.intersection(set2)

#Finding the union of the sets
union = set1.union(set2)

#Finding the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

#Finding the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

#Printing the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [ ]:
input_string = "Hello"

#Converting string into set for each set
set_33 = set(input_string)

print (set_33)

{'H', 'l', 'o', 'e'}

34. Convert a set of strings to a set of integers.

In [ ]:
set_of_strings = {"1", "2", "3", "4", "5"}

set_of_integers = set()

#Converting a set of strings to a set of integers using loop
for value in set_of_strings :
  int_value = int(value)
  set_of_integers.add(int_value)

print (set_of_integers)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [ ]:
set_of_integers = {1, 2, 3, 4, 5}

set_of_strings = set()

#Converting a set of integers to a set of string using loop
for value in set_of_integers :
  str_value = str(value)
  set_of_strings.add(str_value)

print (set_of_strings)

{'3', '4', '5', '1', '2'}

36. Create a set from a tuple.

In [ ]:
tuple_36 = (1, 2, 3, 4, 5)

#Converting a tuple to a set
set_36 = set(tuple_36)

print (set_36)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [ ]:
set_37 = {1, 2, 3, 4, 5}

#Converting a tuple to a set
tuple_37 = tuple(set_37)

print (tuple_37)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [ ]:
#Defining a set
set_38 = {15, 7, 22, 13, 8}

#Initializing a None variable
max_value = 0

#Iterating through each element in the set
for num in set_38 :

  #Checking if the current number is greater than max_value
  if num > max_value :
      max_value = num

#Printing the maximum value
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [ ]:
#Defining a set
set_39 = {15, 7, 22, 13, 8}

#Initializing a None variable
min_value = float('inf')

#Iterating through each element in the set
for num in set_39 :

  #Checking if the current number is less than min_value
  if num < min_value :
      min_value = num

#Printing the minimum value
print("Minimum value:", min_value)

Minimum value: 7

40. Create a set from user input.

In [ ]:
def get_input():
    user_input = input("Enter a value (or 'done' to finish): ")
    return user_input

def create_set_from_inputs():
    user_set = set()
    while True:
        value = get_input()
        if value == 'done':
            break
        user_set.add(value)
    return user_set

user_set = create_set_from_inputs()
print("The set created from user inputs is:", user_set)

Enter a value (or 'done' to finish): qwerty
Enter a value (or 'done' to finish): p2p
Enter a value (or 'done' to finish): done
The set created from user inputs is: {'p2p', 'qwerty'}

41. Check if the intersection of two sets is empty.

In [ ]:
#Defining two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

#Finding the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)
print ("Set1 intersection Set2 :", intersection_result)

#Checking if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

Set1 intersection Set2 : set()
The intersection of the two sets is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [2]:
#Defining fibonacci series using recusive call
def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

#Generating the first 5 Fibonacci numbers and adding it in the empty set
def generate_fibonacci (count) :

  fib_series = set()

  for i in range (count) :
    fib_series.add(fibonacci(i))
  return fib_series

#Providing input to the variable n and printing out the result
n = 5
fib_series = generate_fibonacci (n)
print(fib_series)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [4]:
list_43 = [1,1,1,1,4,4,5,6,7,2,8,9]

#Converting a list to a set will automatically remove the duplicates
set_43 = set(list_43)

#Converting the set to the a list with unique values
list_43_unique = list(set_43)

print (list_43_unique)

[1, 2, 4, 5, 6, 7, 8, 9]

44. Check if two sets have the same elements, regardless of their count.

In [7]:
set_1 = {1,2,3,4,5,6,7,8,9,0}
set_2 = {0,9,8,7,6,5,4,3,2,1}

if set_1 == set_2 :
  print ("Sets have same element")
else :
  print ("Sets do not have same elements")

Sets have same element

45. Create a set of the first `n` powers of 2.

In [1]:
#Creating a function to generate first n powers of 2
def generate_powers_of_2(n) :

  powers_of_2 = set()

#Iterating though given range of n and adding values to the empty set
  for i in range(n) :
      power = 2 ** i
      powers_of_2.add(power)
  return powers_of_2

n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [2]:
set_46 = {1,2,3,4,5}
list_46 = [3,4,5,6,7,8,9]

list_to_set = set(list_46)

intersection_result = set_46.intersection(list_to_set)

print (intersection_result)

{3, 4, 5}

In [3]:
#Defining a set and a lits
set_46 = {1,2,3,4,5}
list_46 = [3,4,5,6,7,8,9]

#Creating a empty set
common_element = set()

#Iterating through the values in set and in list to find the common value and appending the value in the empty list
for value in set_46 :
  if value in list_46 :
    common_element.add(value)
print(common_element)

{3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [4]:
def generate_triangular_numbers(n):
  triangular_numbers = set()
  for i in range(1, n + 1):
    #Calculating the ith triangular number using the formula
    triangular_number = i * (i + 1) // 2
    #Adding the calculated triangular number to the set
    triangular_numbers.add(triangular_number)
  return triangular_numbers

#Taking the value of 'n' as input from the user, calling the def function and printing the set of triangle number
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 3
The set of the first 3 triangular numbers is: {1, 3, 6}

48. Check if a set contains another set as a subset.

In [6]:
set_1 = {3,4,5}
set_2 = {3,4,5,9}

#Checking if set_1 is a subset of set_2 and printing the result
subset_result = set_1.issubset(set_2)

print (subset_result)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [7]:
def alternating_set(n):
  #Initializing an empty set to store the alternating sequence.
  alternating_set = set()

  #Using loop to generate alternating 1s and 0 and adding it sequentially to the empty set
  for i in range(n):
    if i % 2 == 0:
        alternating_set.add(1)
    else:
        alternating_set.add(0)

  return alternating_set

#Define the desired length of the alternating set, calling def function and priniting the result
n = 10
result = alternating_set(n)
print(result)

{0, 1}

50. Merge multiple sets into one.

In [11]:
#Creating multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

#Use the union() method to merge sets
merged_set = set1.union(set2).union(set3)


#Printing the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}